/Gazer4.0/bin/Release/
/Gazer4.0/obj/Debug/
/Gazer4.0/obj/Release/
/Gazer4.0/bin/Debug/
/Gazer4.0/obj/
/.idea/.idea.Gazer4.0/.idea/.gitignore
/.idea/.idea.Gazer4.0/.idea/encodings.xml
/.idea/.idea.Gazer4.0/.idea/indexLayout.xml
